/* Код для кнопки темы */
body {
    color: #1E1F22;
    background: #F6F6F6;
}
body.dark-theme {
    color: #F6F6F6;
    background: #1E1F22;
}
.toBlack {
    color: #FFFFFF;
    background-color: #1E1F22;
}

/*Стили для остального кода - формы документа, контейнера, формы ввода и т.д.*/
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=submit]{
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: #34495e;
}
input[type=submit]:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #2d3e50;
}
input[type=submit]:active{
    cursor: pointer;
    color: #ffffff;
    background-color: #1e2225;
}
